{% extends "base.html" %}
{% block title %}
  Лента записей
{% endblock  %}
{% block content %}
  <h1>Лента записей</h1>                        
  <!-- Перебираем в цикле все посты -->
  {% for some_post in posts reversed %}
    <hr>
    <article>
      <ul>
        <li>
          Место: {{ some_post.location }}
        </li>
        <li>
          Дата: {{ some_post.date }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' some_post.category %}">{{ some_post.category }}</a>
        </li>
      </ul>
      <!-- Первые 10 слов -->
      <p>
        {{ some_post.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' some_post.id %}">Читать полный текст</a> 
    </article>
    <hr>
  {% endfor %}
{% endblock %}